*.7z
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.rar
*.stackdump
*.sublime-*
*.swp
*.tar
*.zip
*~
.DS_Store
.DS_Store?
.vscode/
ehthumbs.db
Icon?
Thumbs.db
Session.vim

config/alacritty/local.yml
config/git/local
config/gtk-3.0/bookmarks
config/karabiner/automatic_backups
config/systemd/user/*.wants/
config/v2ray/config.json
config/x/.Xresources.d/custom
