*.7z
*.dmg
*.gz
*.iso
*.jar
*.log
*.rar
*.stackdump
*.sublime-*
*.swp
*.tar
*.zip
*~
.DS_Store
.DS_Store?
.vscode/
ehthumbs.db
Icon?
Thumbs.db
config/karabiner/automatic_backups
config/x/.Xresources.d/custom
config/xfce4/desktop/
