*.7z
*.dmg
*.exe
*.gz
*.iso
*.jar
*.log
*.rar
*.stackdump
*.sublime-*
*.swp
*.tar
*.zip
*~
.DS_Store
.DS_Store?
.vscode/
ehthumbs.db
Icon?
Thumbs.db

config/alacritty/local.yml
config/git/local
config/gtk-3.0/bookmarks
config/karabiner/automatic_backups
config/x/.Xresources.d/custom
config/xfce4/desktop/
config/xfce4/panel/weather-*.rc
