! syntax:ssExcla

#include ".Xresources.d/one-dark"
#include ".Xresources.d/urxvt"
#include ".Xresources.d/custom"

*.font: Sauce Code Pro Nerd Font:size=10:antialias=true:autohint=true;
*.alpha: 0.9
