[Unit]
Description=polybar
PartOf=graphical-session.target
# Works with both i3.service (local) and i3-vnc.service (VNC)
After=i3.service i3-vnc.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/polybar-launch
ExecStop=killall -q polybar
