[Unit]
Description=polybar
# Stop polybar when i3 stops, so it restarts with new sessions
PartOf=i3.service i3-vnc.service
After=i3.service i3-vnc.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/polybar-launch
ExecStop=killall -q polybar
