[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
Environment=DISPLAY=:0
ExecStop=/bin/sh -lc 'exec "$HOME/.local/share/tmux/plugins/tmux-resurrect/scripts/save.sh"'
ExecStop=/bin/sh -lc 'exec tmux kill-server'
ExecStart=/bin/sh -lc 'exec tmux new-session -d'
RestartSec=2
