[Unit]
Description=v2ray
PartOf=graphical-session.target
After=network.target nss-lookup.target

[Service]
ExecStart=v2ray run -config %h/.config/v2ray/config.json
